<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<select id="FindUser" resultType="com.model.User">
		select * from user
	</select>
	
	<select id="FindUserById" resultType="com.model.User">
		select * from user u where u.UserId = #{id}
	</select>
	
	<insert id="AddUser" parameterType="com.model.User">
		insert into user (
			UserName,
			UserPassword,
			UserEmail,
			UserNickName,
			UserAddress,
			UserPhone,
			UserRemark,
			SexId
		) values (
			#{UserName},
			#{UserPassword},
			#{UserEmail},
			#{UserNickName},
			#{UserAddress},
			#{UserPhone},
			#{UserRemark},
			#{SexId})
	</insert>
	
	<delete id="DelUser" parameterType="String">
		delete from user where UserId = #{id}
	</delete>
	
	<update id="UpdateUser" parameterType="com.model.User">
		update user set 
			UserName=#{UserName},
			UserPassword=#{UserPassword},
			UserEmail=#{UserEmail},
			UserNickName=#{UserNickName},
			UserAddress=#{UserAddress},
			UserPhone=#{UserPhone},
			UserRemark=#{UserRemark},
			SexId#{SexId} 
		where UserId = #{UserId}
	</update>
	
</mapper>
